html, body {
    height: 100%;
    overflow-y: scroll; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
    display: none; 
}

#title {
    font-family: Roboto, sans-serif;
    color: white;
    padding-left: 10px;
    margin-bottom: 0;
}

#subtitle {
    font-family: Roboto, sans-serif;
    color: white;
    padding-left: 10px;
    margin-top: 0;
    font-weight: normal;
}

.inf {
    font-family: Roboto, sans-serif;
    color: white;
    padding: 10px;
}

.content {
    font-family: Roboto, sans-serif;
    color: white;
    padding-left: 10px;
    font-size: 20px;
}

.monospace {
    font-family: monospace;
}

.stars {
    padding-left: 10px;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #ccc;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: gold;
}

.comments {
    font-family: Roboto, sans-serif;
    color: white;
    width: 25%;
    margin-left: auto;
    margin-right: 10px;
}

.top {
    display: flex;
}

.date {
    margin-left: auto;
    font-size: 15px;
}

.comment {
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
}

.author {
    font-weight: bold;
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: white;
}

.author:hover {
    color: #0093ff;
}

main {
    display: flex;
}

.logintext {
    display: block;
    text-align: center;
    padding: 10px;
}

.commenttext {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

#loginhref {
    text-decoration: none;
    color: #0093ff;
}

.input {
    padding: 5px;
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    border: none;
    outline: none;
    resize: none;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.submit {
    display: block;
    margin: 10px auto 0 auto;
    width: 80%;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #0093ff;
    transition: 0.2s;
    box-sizing: border-box;
}

.submit:hover {
    color: #0093ff;
    background-color: white;
}

.main {
    width: 70%;
}