.title {
    font-family: Roboto, sans-serif;
    color: white;
    margin-top: 0;
}

.subtext {
    font-family: Roboto, sans-serif;
    color: white;
    margin-bottom: 0;
}

.subtext .bio {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}

subtext .info {
    display: block;
    margin-top: 20px;
}

.userbox {
    margin: 0 auto;
    width: 30%;
    background-color: #393939;
    padding: 30px;
    border-radius: 10px;
}

.infttl {
    font-size: 16px;
    font-weight: bold;
}

.boxtitle {
    border-radius: 10px;
    font-family: Roboto, sans-serif;
    text-align: center;
    color: white;
}

.box {
    font-family: Roboto, sans-serif;
    color: white;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.box .title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
    margin-top: 0;
}

.box .button {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: #0093ff;
    padding: 10px 10px;
    display: block;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    transition: 0.2s;
}

.box .button:hover {
    color: #0093ff;
    background-color: white;
}

.boxcontainer {
    display: flex;
    margin: 20px;
    gap: 50px;
    justify-content: center;
}

.inf {
    text-align: center;
    margin-bottom: 0;
}