.title {
    font-family: Roboto, sans-serif;
    color: white;
}

.subtext {
    font-family: Roboto, sans-serif;
    color: white;
}

.subtext .bio {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}

subtext .info {
    display: block;
    margin-top: 20px;
}

.userbox {
    margin: 0 auto;
    width: 30%;
    background-color: #393939;
    padding: 30px;
    border-radius: 10px;
}

.infttl {
    font-size: 16px;
    font-weight: bold;
}

.channeltitle {
    border-radius: 10px;
    font-family: Roboto, sans-serif;
    text-align: center;
    color: white;
}

.channelbox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 16px;
    padding: 16px;
}

.channel {
    background-color: #393939;
    border-radius: 10px;
    font-family: Roboto, sans-serif;
    color: white;
    padding: 15px;
    width: 160px;
}

.channel .channelname {
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.channel .channelname i {
    padding: 5px;
}